In [1]:
import pandas as pd
df = pd.read_csv('weather.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4  Rainy
5  1/6/2017           32          2  Sunny

In [2]:
# Dataframe from python dictionary

weather_data = {
    'day' : ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature' : [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event' : ['Rainy', 'Sunny', 'Snow', 'Snow', 'Rainy', 'Sunny']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Rainy
5  1/6/2017           31          2  Sunny

In [6]:
rows, column = df.shape

print(rows)
print(column)

6
4

In [8]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny

In [9]:
df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Rainy
5  1/6/2017           31          2  Sunny

In [10]:
# Slicing and indexing

df [2:5]

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Rainy

In [11]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [12]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [13]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [14]:
type(df['event'])

pandas.core.series.Series

In [16]:
df[['event', 'day']]

   event       day
0  Rainy  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4  Rainy  1/5/2017
5  Sunny  1/6/2017

In [18]:
df['temperature'].max()

35

In [19]:
df['temperature'].mean()

30.333333333333332

In [20]:
df['temperature'].std()

3.8297084310253524

In [21]:
# Statistics of dataset

df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

## conditional selection

In [24]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

## Pandas list Operation

In [26]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Rainy
5  1/6/2017           31          2  Sunny

In [25]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [30]:
df.set_index('day', inplace=True)

KeyError: "None of ['day'] are in the columns"

In [31]:
df

          temperature  windspeed  event
day
1/1/2017           32          6  Rainy
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4  Rainy
1/6/2017           31          2  Sunny

In [32]:
df.loc['1/1/2017']

temperature       32
windspeed          6
event          Rainy
Name: 1/1/2017, dtype: object

In [33]:
df.reset_index(inplace=True)

In [34]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Rainy
5  1/6/2017           31          2  Sunny