In [3]:
import pandas as pd

df = pd.read_csv("weather.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4  Rainy
5  1/6/2017           32          2  Sunny

In [6]:
df = pd.read_excel("weather_data.xlsx", "weather")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6  Rainy
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   snow
3 2017-01-04           24          7   snow
4 2017-01-05           32          4  Rainy
5 2017-01-06           32          2  Sunny

In [8]:
data = {
    'day' : ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature' : [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event' : ['Rainy', 'Sunny', 'Snow', 'Snow', 'Rainy', 'Sunny']
}

df = pd.DataFrame(data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Rainy
5  1/6/2017           31          2  Sunny

In [5]:
weather_data = [
    ('1/1/2017',32,3,'rainy'),
    ('1/2/2017',35,7,'sunny'),
    ('1/3/2017',28,2,'snow')
]

df = pd.DataFrame(weather_data, columns=["day", "temperature", "windspeed", "event"])

df

        day  temperature  windspeed  event
0  1/1/2017           32          3  rainy
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow