In [1]:
import pandas as pd

df = pd.read_csv("stock.csv")
df

  tickers            eps        revenue          price         people
0   GOOGL          27.82           87.0          845.0     larry page
1     WMT           4.61          484.0           65.0  not available
2    MSFT          -1.00           85.0           64.0     bill gates
3     RIL  not available           50.0         1023.0  mukesh ambani
4    TATA           5.60  not available  not available     ratan tata

In [8]:
df_stocks = pd.read_csv("stock.csv", na_values={
    'eps': ["not available", "n.a."],
    'revenue': ["not available", "n.a.", -1],
    'people': ["not available", "n.a."]
})
df_stocks

  tickers    eps  revenue          price         people
0   GOOGL  27.82     87.0          845.0     larry page
1     WMT   4.61    484.0           65.0            NaN
2    MSFT  -1.00     85.0           64.0     bill gates
3     RIL    NaN     50.0         1023.0  mukesh ambani
4    TATA   5.60      NaN  not available     ratan tata

In [9]:
df_stocks.to_csv('test.csv', index=False)

# Excel file

In [10]:
df_weather = pd.read_excel("weather_data.xlsx")
df_weather

         day  temperature  windspeed  event
0 2017-01-01           32          6  Rainy
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   n.a.
3 2017-01-04           24          7   snow
4 2017-01-05           32          4  Rainy
5 2017-01-06           32          2  Sunny

In [11]:
def convert_event_cell(cell):
    if cell == 'n.a.':
        return "Rainy"
    return cell

df_weather = pd.read_excel("weather_data.xlsx", "weather", converters={
    'event': convert_event_cell
})
df_weather

         day  temperature  windspeed  event
0 2017-01-01           32          6  Rainy
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2  Rainy
3 2017-01-04           24          7   snow
4 2017-01-05           32          4  Rainy
5 2017-01-06           32          2  Sunny

In [12]:
df_weather.to_excel("new.xlsx", sheet_name='weather')

In [13]:
with pd.ExcelWriter('stock-weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name='stocks')
    df_weather.to_excel(writer, sheet_name='weather')