In [ ]:
import pandas as pd
df = pd.read_csv("weather.csv", parse_dates=['day'])
df.set_index('day', inplace=True)
df

In [21]:
new_df = df.fillna(0)
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0  Rainy
2017-01-02         35.0        7.0  Sunny
2017-04-02          0.0        2.0   snow
2017-01-04         24.0        0.0   snow
2017-01-05         32.0        4.0  Rainy
2017-01-06         32.0        2.0      0

In [10]:
new_df = df.fillna({
    'temperature': 0,
    'windspeed': 0,
    'event': 'no event'
})
new_df

            temperature  windspeed     event
day
2017-01-01         32.0        6.0     Rainy
2017-01-02         35.0        7.0     Sunny
2017-01-03          0.0        2.0      snow
2017-01-04         24.0        0.0      snow
2017-01-05         32.0        4.0     Rainy
2017-01-06         32.0        2.0  no event

In [15]:
new_df = df.fillna(method='ffill')
new_df

# df.fill()

C:\Users\samee\AppData\Local\Temp\ipykernel_24168\1966330461.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df = df.fillna(method='ffill')

            temperature  windspeed  event
day
2017-01-01         32.0        6.0  Rainy
2017-01-02         35.0        7.0  Sunny
2017-01-03         35.0        2.0   snow
2017-01-04         24.0        2.0   snow
2017-01-05         32.0        4.0  Rainy
2017-01-06         32.0        2.0  Rainy

In [16]:
new_df = df.fillna(method='bfill')
new_df

C:\Users\samee\AppData\Local\Temp\ipykernel_24168\2862997843.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df = df.fillna(method='bfill')

            temperature  windspeed  event
day
2017-01-01         32.0        6.0  Rainy
2017-01-02         35.0        7.0  Sunny
2017-01-03         24.0        2.0   snow
2017-01-04         24.0        4.0   snow
2017-01-05         32.0        4.0  Rainy
2017-01-06         32.0        2.0    NaN

# Interpolation

In [22]:
df = pd.read_csv("weather.csv", parse_dates=['day'])
df.set_index('day', inplace=True)
df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0  Rainy
2017-01-02         35.0        7.0  Sunny
2017-04-02          NaN        2.0   snow
2017-01-04         24.0        NaN   snow
2017-01-05         32.0        4.0  Rainy
2017-01-06         32.0        2.0    NaN

In [26]:
new_df = df.interpolate(method='time')
new_df

C:\Users\samee\AppData\Local\Temp\ipykernel_24168\3316049018.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df = df.interpolate(method='time')

            temperature  windspeed  event
day
2017-01-01         32.0        6.0  Rainy
2017-01-02         35.0        7.0  Sunny
2017-04-02         32.0        2.0   snow
2017-01-04         24.0        5.0   snow
2017-01-05         32.0        4.0  Rainy
2017-01-06         32.0        2.0    NaN

In [27]:
df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0  Rainy
2017-01-02         35.0        7.0  Sunny
2017-04-02          NaN        2.0   snow
2017-01-04         24.0        NaN   snow
2017-01-05         32.0        4.0  Rainy
2017-01-06         32.0        2.0    NaN

In [32]:
new_df = df.dropna(how='all')
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0  Rainy
2017-01-02         35.0        7.0  Sunny
2017-04-02          NaN        2.0   snow
2017-01-04         24.0        NaN   snow
2017-01-05         32.0        4.0  Rainy
2017-01-06         32.0        2.0    NaN

In [36]:
new_df = df.dropna(thresh=2)
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0  Rainy
2017-01-02         35.0        7.0  Sunny
2017-04-02          NaN        2.0   snow
2017-01-04         24.0        NaN   snow
2017-01-05         32.0        4.0  Rainy
2017-01-06         32.0        2.0    NaN