In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv("weather2.csv")
df

        day  temperature  windspeed     event
0  1/1/2017           32          6     Rainy
1  1/2/2017           35          7     Sunny
2  4/2/2017        -9999          2      snow
3  1/4/2017           24      -9999      snow
4  1/5/2017           32          4     Rainy
5  1/6/2017           32          2  no event

In [ ]:
new_df = df.replace(-9999, np.NaN)
new_df

In [5]:
new_df = df.replace({
    'temperature': -9999,
    'windspeed': -9999,
    'event': 0
}, np.NaN
)
new_df

        day  temperature  windspeed     event
0  1/1/2017         32.0        6.0     Rainy
1  1/2/2017         35.0        7.0     Sunny
2  4/2/2017          NaN        2.0      snow
3  1/4/2017         24.0        NaN      snow
4  1/5/2017         32.0        4.0     Rainy
5  1/6/2017         32.0        2.0  no event

In [6]:
new_df = df.replace({
    -9999: np.NaN,
    'no event': 'Sunny'
})
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0  Rainy
1  1/2/2017         35.0        7.0  Sunny
2  4/2/2017          NaN        2.0   snow
3  1/4/2017         24.0        NaN   snow
4  1/5/2017         32.0        4.0  Rainy
5  1/6/2017         32.0        2.0  Sunny

In [9]:
new_df = df.replace({
    'temperature': '[A-Za-z]',
    'windspeed': '[A-Za-z]'
},'', regex=True)
new_df

        day  temperature  windspeed     event
0  1/1/2017           32          6     Rainy
1  1/2/2017           35          7     Sunny
2  4/2/2017        -9999          2      snow
3  1/4/2017           24      -9999      snow
4  1/5/2017           32          4     Rainy
5  1/6/2017           32          2  no event